:root {
  --dark: hsl(231, 17%, 22%);
  --light2: hsl(227, 34%, 41%);
  --light: hsl(227, 33%, 44%);
  /* --white: #ffffff; */
}

/* Classes are sorted according alphabetically */
.clients__container {
  display: grid;
  background: url("./asset/bottom-cranes.png");
  background-position: bottom;
  background-repeat: no-repeat;
  border-bottom: 2px solid white;
}
.clients__heading {
  text-align: center;
  margin-top: 2em;
  font-size: 2rem;
}
.clients-list > img {
  margin: auto;
  max-width: 25vw;
  height: auto;
  max-height: 100px;
  border-radius: 0.5rem;
  transition: 0.2s filter;
}
.clients-list > img:hover {
  filter: grayscale(0);
}
.clients-list {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: space-around;
  gap: 1rem;
  margin: auto;
  align-items: center;
  align-content: space-evenly;
  margin: 5vmin;
  margin-bottom: 15vmax;
}

.contact__social {
  list-style: none;
  padding-left: 0;
  /* border-top: 1px solid; */
  padding-top: 1em;
}

.message {
  border: 2px solid rgba(255, 255, 255, 0.4);
  z-index: 500;
  position: fixed;
  bottom: 3vmin;
  right: 3vmin;
  padding: 0.25rem 1rem 0.5rem 1rem;
  background: #343845;
  border-radius: 5px;
  box-shadow: 0px 10px 14px -5px black;
}

.message__heading {
  padding-top: 1em;
  margin: 0;
}

.message__link {
  padding: 0.5em;
  /* background:yellow; */
  /* margin: .25em; */
  border-bottom: none;
  /* background:red; */
  font-size: 1.3rem;
}
.message__link:first-of-type {
  padding-left: 0;
  font-size: 1.18rem;
  margin-left: 0;
}

.logo {
  width: 80%;
  max-width: 500px;
}

.services__chips--container {
  background: var(--dark);
  padding: 0.5em;
  width: max-content;
  margin: 0.5em;
  margin-right: 0;
  margin-left: auto;
  border-radius: 5px;
  border: 1px solid white;
  width: 100%;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.services__chips {
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border-bottom: 2px solid var(--dark);
  padding: 0.5em 1em;
  margin: 0.5em;
  transition: all 0.2s;
  /* cursor: pointer; */
  cursor: default;
  background: var(--light2);
}
/* .services__chips:hover{
    background: var(--light);
} */

.services__extra-details {
  /* font-size: .8rem; */
  font-weight: bold;
}

.services__heading {
  /* clip-path: polygon(0 70%, 100% 0, 100% 100%, 0% 100%); */
  text-align: center;
  padding: 0.5em;
  padding-top: 2em;
  font-size: 3.5rem;
  margin: 0;
  /* background: red; */
}
.services__heading--models {
  /* text-align:left; */
  font-size: 0.6rem;
  /* padding: .5em; */
  /* padding-top: 2rem; */
  /* margin-top: 1em; */
  margin-bottom: 0;
}

.services__image {
  width: 35em !important;
}
.services__info {
  font-size: 0.95rem;
}

.services__name {
  font-size: 1.5rem;
}

.ss {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 0.5rem;
  width: 100%;
}
/* input:invalid {
    border: 2px solid red;
  } */
.ss--odd {
  justify-content: end;
}
.ss--even {
  justify-content: start;
}

/* IDs */
/* #footer {
  margin-top: 0;
} */
.jcb_14xw {
  position: relative;
}
.jcb_14xw:hover::after {
  display: block;
}
.jcb_14xw::afterr {
  content: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, accusantium deserunt veniam repellat animi distinctio labore dolore, alias officiis ad ipsa. Velit laboriosam earum libero est aliquid sed, odit quod.";
  display: none;
  position: absolute;
  padding: 0.5em;
  margin: 0.5em;
  z-index: 5;
  text-align: left;
  top: 0;
}
@media (max-width: 850px) {
  .ss {
    grid-template-columns: repeat(2, max-content);
  }
}
